@font-face {
    font-family: 'din-black-webfont';
    src: url('din-black-webfont.eot');
    src: url('din-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-black-webfont.woff') format('woff'),
         url('din-black-webfont.ttf') format('truetype'),
         url('din-black-webfont.svg#din-light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'din-light-webfont';
    src: url('din-light-webfont.eot');
    src: url('din-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('din-light-webfont.woff') format('woff'),
         url('din-light-webfont.ttf') format('truetype'),
         url('din-light-webfont.svg#din-light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form-horizontal .fs16{
	font-size:16px; text-align:left;
}

.tal{
	text-align:left;
}

.tar{
	text-align:right;
}

.tac{
	text-align:center;
}

.fl{
	float: left;
}
.fr{
	float: right;
}

.mb10{
	margin-bottom:10px;
}

.mb5{
	margin-bottom:5px;
}

.mt15{
	margin-top:15px;
}
.mb15{
	margin-bottom:15px;
}

.mb20{
	margin-bottom:20px;
}

.mb30{
	margin-bottom:30px;
}

.pl0{
	padding-left:0px;
}

.pr0{
	padding-right:0px;
}

.pr1{
	padding-right:1px;
	padding-left:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.pl5{
	padding-left:5px;
}

.pr5{
	padding-right:5px;
}

.pt15{
	padding-top:15px;
}

.pb15{
	padding-bottom:15px;
}

.bolduppercase{
	text-transform:uppercase; font-weight:bold;
}


body{
	font-family: 'din-light-webfont';
	color:#000000;
	font-size:16px;
}

#pull {
display: none;
}

.nopadding{
	padding:0px;
}

.wrapmenu{
	border-top:1px solid #ca1d00; border-bottom:1px solid #e7e7e7; color:#454545;
}

.wrap{
	background:#e9e9e7;
}

.boxlogo{
	padding-top:5px; padding-bottom:0px;
}

.boxmenu{
	border-left:1px solid #e7e7e7; padding-top:10px;
}

.boxlang{
	position:relative; text-align:right; border-bottom:1px solid #e7e7e7; padding-bottom:10px;
}

.boxlang .hub{
	text-decoration:none; color:#464646;
}

.boxlang .login{
	text-decoration:none; color:#ca1d00;
}

.lang{
	position:relative; display:inline-block; border-left:1px solid #6b6b6b; margin-left:20px; padding-left:20px;
}

.dropdowns{
	text-align:center; position:relative;
}

.subdropdowns a{
	display:block;
	text-decoration:none;
	font-family: 'din-light-webfont';
	color:#464646;
	font-weight:bold;
	font-size:17px;
	cursor:pointer;
}

.subtree{
	display:none;
	position:absolute; 
	background:#ffffff; 
	padding-top:10px; 
	z-index:999; 
	text-align:center; 
}

.subtree div:first-child{
	border-bottom:1px solid #e7e7e7; border-top:1px solid #e7e7e7; padding:10px 0px;
}

.subtree div{
	border-bottom:1px solid #e7e7e7; padding:10px 0px;
}

.subtree div:hover{
	background:#7e7e7e;
}

.subtree div:hover a{
	color:#ffffff;
}

.subdropdowns{
	border-right:1px solid #e7e7e7; padding:10px 0px; /*width:20%;*/
}

.subdropdowns:last-child {
	border-right:0px; padding:10px 0px; /*width:20%;*/
}

.boxfooter{
	background:#24201f; border-bottom:5px solid #ca1d00;
}

.footer{
	padding:15px; text-align:center; color:#a9a7a8; font-weight:bold; font-size:16px;
}

.spanboxtitle{
	text-align:left; font-weight:bold; border-bottom:1px solid #ca1d00; float:left; padding-bottom:10px; margin-bottom:-11px; /*text-transform:uppercase;*/
}


/*home*/
.boxhomevideo{
	background:#000000;
}

.boxhomevideo .boxtitle{
	padding:10px; color:#ffffff; 
}

.boxhomevideo .boxthumb{
	padding-left:10px;
	padding-right:10px;
}

.boxhomevideo .boxvideo{
	padding-right:10px;
}

.boxhomesocmed{
	padding:2px 0px;
}

.boxhomesocmed .tw{
	padding:10px; background:#00aced;
}	

.boxhomesocmed .fb{
	padding:10px; background:#3b5998;
}

.boxhomesocmed .in{
	padding:10px; background:#007bb6;
}
.boxhomesocmed .gplus{
	padding:10px; background:#dd4b39;
}

.boxhomesocmed .icon{
	font-size:32px; color:#ffffff;
}

.boxhomeleft{
	background:#e8e8e8; padding-top:10px;
}

.boxhomeleftcol1{
	padding-right:5px;
}

.boxhomeleftcol2{
	padding-left:5px;
}

.boxhomeleft .box{
	background:#f3f3f3; padding:10px; margin-bottom:10px;
}

.boxhomeleft .box .boxcontent{
	position:relative; text-align:center;
}

.boxhomeleft .box .boxcontent .overlay{
	position:absolute; bottom:0px; width:100%; color:#ffffff; background:url("../images/bgmenu.png") repeat;
}

.boxhomeleft .box .boxcontent .overlay .title{
	padding:8px; text-align:left;
}

.boxhomeleftcol3 .box1{
	border-top:1px solid #cbcbcb; border-right:1px solid #cbcbcb; text-align:center; padding:11px; color:#747474;
}

.boxhomeleftcol3 .box2{
	border-top:1px solid #cbcbcb; text-align:center; padding:11px; color:#747474;
}
/*end home*/

.bannerwrap{ 
	background: url("../gambar/banner-header.jpg") no-repeat scroll center top / cover ; 
	height: 141px; 
	position: relative;
}

/* tentang kami */

.boxshadowleft1{
	padding-right:0px; 
	padding-left:7px; 
	background: url("../images/shadow-left.png") no-repeat left 60px; 
	margin-top:-60px;
}

.boxshadowleft1 .box{
	background:#e9e9e7; padding-top:15px; padding-bottom:15px;
}

.boxshadowleft1 .box .boxtitle{
	padding:10px 0px; border-bottom:1px solid #d0d0ce; font-size:17px; color:#6b6b6b;
}

.boxvismis{
	margin:25px 0px;
}

.boxvismis .icon{
	float:left; background:#6e6e6e; padding:7px 10px; color:#ffffff;
}

.boxvismis .title{ 
	float:left; background:#2a2a2a; padding:7px 30px; color:#ffffff; font-family: "din-black-webfont"; text-transform:uppercase;
}

.visimisi{
	padding-left:12px; margin:0px; font-size:16px; font-weight:normal; color:#6b6b6b;
}

.visimisi li{
	margin-bottom:5px;
}

.boxshadowleft2{ 
	background: url("../images/shadow-right.png") no-repeat left top;
}

.boxshadowleft2 .box{
	padding:15px 30px;
}

.boxshadowleft2 .box .boxtitle{
	padding:10px 0px; border-bottom:1px solid #d0d0ce; font-size:17px; color:#6b6b6b; margin-bottom:20px; /*text-transform:uppercase;*/
}

.boxshadowleft2 .box .boxdetail{ 
	padding:10px 0px; color:#6b6b6b; font-size:16px;
}

/* end tentang kami */

/* berita & kegiatan */

.boxshadowright1{ 
	background: url("../images/shadow-left.png") no-repeat right top;
}

.boxshadowright1 .box{
	padding:15px 30px 15px 15px;
}

.boxshadowright1 .box .boxtitle{
	padding:10px 0px; border-bottom:1px solid #d0d0ce; font-size:17px; color:#6b6b6b;
}

.boxshadowright2{
	padding-left:0px; 
	padding-right:7px; 
	background: url("../images/shadow-right.png") no-repeat right 60px; 
	margin-top:-60px;
}

.boxshadowright2 .box{
	background:#e9e9e7; padding-top:15px; padding-bottom:15px;
}

.boxshadowright2 .box .boxtitle{
	padding:10px 0px; border-bottom:1px solid #d0d0ce; font-size:17px; color:#6b6b6b;
}

.boxshadowright2 .boxlist{
	padding:10px 0px;
}

.boxshadowright2 .boxlist .boxcontentlist{ 
	margin:15px 0px; text-align:center; position:relative;
}

.boxshadowright2 .boxlist .boxcontentlist .boxtitlelist{
	position: absolute; 
	top: 50%; 
	-moz-transform: translateY(-50%); 
	-webkit-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
	padding:10px;
	width:100%;
}

.boxallwrap .boxlist{
	padding:10px 0px;
}

.boxallwrap .boxlist .boxcontentlist{ 
	margin:5px 0px; text-align:center; position:relative;
}

.boxallwrap .boxlist .boxcontentlist .boxtitlelist{
	position: absolute; 
	top: 50%; 
	-moz-transform: translateY(-50%); 
	-webkit-transform: translateY(-50%); 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
	padding:10px;
	width:100%;
}

.titlelistnewsevent{
	font-size:18px; font-weight:bold;
}

.linelistnewsevent{
	display:inline-block; width:80px; border-top:2px solid #ffffff; margin:10px 0px;
}

.datelistnewsevent{
	text-transform:uppercase; font-weight:bold; font-size:14px;
}

.boxnewsevent{
	padding:15px 0px 15px; border-bottom:7px double #d0d0ce;
}

.boxnewsevent a{
	text-decoration:none; color:#585858;
}

.boxnewsevent h3{
	margin-top:0px; font-weight:bold; color:#585858;
}

.boxnewsevent .line{
	border-top:5px solid #000000; margin-bottom:10px;
}

.boxnewsevent .icon{ 
	float:left; background:#6e6e6e; padding:7px 10px; color:#ffffff;
}

.boxnewsevent .date{
	float:left; text-transform:uppercase; border:1px solid #6e6e6e; padding:6px 10px; color:#585858; font-family: "din-black-webfont";
}

.boxdetailnewsevent{
	padding-top:15px; padding-bottom:15px;
}

.boxdetailnewsevent h2{
	font-weight:bold; color:#585858;
}

.boxdetailnewsevent .date{
	font-weight:bold;
}

.boxdetailnewsevent .image{
	text-align:center; margin-top:15px; margin-bottom:15px;
}

.boxdetailnewsevent .detail{
	color:#585858; font-size:16px;
}

.boxevents a{
	color:#000000;
	text-decoration:none;
}

.boxevents .box{
	line-height:20px; 
	height:75px; 
	padding:10px; 
	background: url("../images/bgmenu.png") repeat; 
	bottom: 0; 
	color: #ffffff; 
	position: absolute; 
	width: 100%;
}

.boxevents .box .vert{
	position:relative; 
	top:50%; 
	-moz-transform: translateY(-50%); 
	-webkit-transform: translateY(-50%);  
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%);
}

a.various{
	background: #000000;
	height: 100%;
	opacity: 0.75;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	transition: all 1s ease-in-out 0s;
	width: 100%;
	color:#ffffff;
}
a.various:hover{
	background : none;
	opacity : 0;
}

/* end berita & kegiatan */

/* keanggotaan */
.boxvismis .why{
	padding:8px 30px;
}

.iconidea{
	height:25px;
}

.boxdirmember{
	background-image: url("../images/shadow-left.png"), url("../images/shadow-right.png");
	background-position: left 60px, right 60px;
	background-repeat: no-repeat;
	margin-top:-60px;
	padding-left:7px;
	padding-right:7px;
}

.boxdirmember .box{ 
	padding: 15px 30px; background:#e9e9e7;
}

.boxdirmember .box .boxtitle{
	border-bottom: 1px solid #d0d0ce;
    color: #6b6b6b;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 10px 0;
}

.boxdirmember .box .boxdircontent{
	color: #6b6b6b; padding: 10px 0;
}

.mikro{
	background-color: #5cb85c; 
	border-color: #4cae4c; 
}

.ukm{
	background-color: #f0ad4e;
	border-color: #eea236;
}

.usahabesar{
	background-color: #337ab7;
	border-color: #2e6da4;
}

.nonecommerce{
	background-color: #d9534f;
    border-color: #d43f3a;
}

.boxregall{
	padding:15px 0px; 
	font-size:16px; 
	font-weight:bold; 
	color: #fff; 
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px; 
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px; 
	border-top-left-radius:8px;
	border-top-right-radius:8px; 
}

.bordermikro{
	border:1px solid #d0d0ce; border-top:0px; padding:15px 10px;
}

.borderall{
	border:1px solid #d0d0ce; border-top:0px; border-left:0px; padding:15px 10px;
}

/* end keanggotaan */

/* galeri */

a.galvarious{
	background : none;
	opacity : 0;
	position: absolute;
	top: 0;
	left:0;
	right:0;
	transition: all 1s ease-in-out 0s;
	width: 100%;
	height: 100%;
}
a.galvarious:hover{
	background: #000000;
	opacity: 0.75;
	color:#ffffff;
}

.paginggaleri {
	margin-top:-30px;
}
.paginggaleri ul{
	margin:0px;
}

/* end galeri */

.menudrop{
	min-width:60px; left:0px;
}

@media screen and (max-width: 768px) {

.boxlogo{
	padding-top:10px; padding-bottom:10px;
}

.menudrop{
	min-width:60px; left:-20px;
}
	
.monopadding{
	padding:0px;
}

.monopr0{
	padding:0px;
}

.fs20{
	font-size:20px;
}

.boxlang{
	position:relative; text-align:left; border-bottom:1px solid #e7e7e7; padding-bottom:10px; padding-left:10px; padding-right:10px; 
}


.lang{
	position:relative; display:inline-block; border-left:0px; margin-right:10px; padding-left:0px; float:right;
}
	
#nav-toggle {
    display: block; 
    position: absolute;
    right: 50px;
    top: 29px;
	z-index:600;
}

#nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
    background: #484848;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    width: 35px; 
}
#nav-toggle span::before {
    top: -10px;
}
#nav-toggle span::after {
    bottom: -10px;
}
#nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-o-transition: all 500ms ease-in-out 0s;
    transition: all 500ms ease-in-out 0s;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span::before, #nav-toggle.active span::after {
    top: 0;
}
#nav-toggle.active span::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-toggle.active span::after {
    transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
nav {
    display: none;
    text-align: left;
    width: 100%;
	position:absolute;
	z-index:600;
	background:#ffffff;
}

.subtree{
	display:none;
	position:relative; 
	background:#ffffff; 
	padding-top:0px; 
	z-index:999; 
	text-align:center; 
}

.subtree a{
	color:#ffffff;
}

.subtree div:first-child{
	border-bottom:1px solid #e7e7e7; border-top:1px solid #e7e7e7; padding:10px 0px; background:#7e7e7e;
}

.subtree div{
	border-bottom:1px solid #e7e7e7; padding:10px 0px; background:#7e7e7e;
}

.subtree div:last-child{
	border-bottom:0px; padding:10px 0px 10px;
}

.subdropdowns{
	width:100%; border-right:0px; border-bottom:1px solid #e7e7e7; padding: 0px;
}

.subdropdowns a.parent{
	padding:10px 0px;
}

.subdropdowns:last-child {
	width:100%; border-right:0px; border-bottom:1px solid #e7e7e7; padding:0px;
}

.boxvideohome{
	padding-right:0px;
}

/* home */

.boxhomeleftcol1{
	padding-right:15px;
}

.boxhomeleftcol2{
	padding-left:15px;
}

.boxhomevideo .boxvideo{
	padding-right:0px;
}

/* end home */

/* tentang kami */

.boxshadowleft1{ 
	padding-right:0px; 
	padding-left:0px; 
	background: none; 
	margin-top:-60px;
}

.boxshadowleft2{ 
	background: none;
}

.boxshadowleft2 .box{
	padding:15px;
}

/* end tentang kami */

/* berita & kegiatan */

.boxshadowright1{ 
	background: #e9e9e7;
	margin-top:-60px;
}

.boxshadowright1 .box{
	padding:15px;
}

.boxnewsevent h3{
	margin-top:10px; font-weight:bold; color:#585858; font-size:18px;
}

.boxshadowright2{
	padding-left:0px; 
	padding-right:0px; 
	background: none; 
	margin-top:0px;
}

.titlelistnewsevent{
	font-size:15px; font-weight:bold;
}

.linelistnewsevent{
	display:inline-block; width:80px; border-top:2px solid #ffffff; margin:10px 0px;
}

.datelistnewsevent{
	text-transform:uppercase; font-weight:bold; font-size:12px;
}

.boxdetailnewsevent h2{
	font-weight:bold; color:#585858; font-size:20px;
}

.boxevents{
	padding-left:0px;
	padding-right:0px;
}

.boxevents .box{
	line-height:20px; 
	height:auto; 
	padding:10px; 
	background: url("../images/bgmenu.png") repeat; 
	bottom: 0; 
	color: #ffffff; 
	position: relative; 
	width: 100%;
}

.boxevents .box .vert{
	position:relative; 
	top:0%; 
	-moz-transform: translateY(0%); 
	-webkit-transform: translateY(0%);  
	-ms-transform: translateY(0%); 
	transform: translateY(0%);
}

.boxnewsevent .icon{ 
	float:left; background:#6e6e6e; padding:7px 10px; color:#ffffff; font-size:12px;
}

.boxnewsevent .date{
	float:left; text-transform:uppercase; border:1px solid #6e6e6e; padding:6px 10px; color:#585858; font-family: "din-black-webfont"; font-size:12px;
}

/* end  berita & kegiatan */

/* keanggotaan */
.boxvismis .why{
	padding:9px 9px 8px; font-size:12px; 
}
.iconidea{
	height:15px;
}

.boxdirmember .box{ 
	padding: 15px; background:#e9e9e7;
}

.bordermikro{
	border:1px solid #d0d0ce; border-top:0px; padding:15px 10px;
}

.borderall{
	border:1px solid #d0d0ce; border-top:0px; border-left:1px solid #d0d0ce; padding:15px 10px;
}

/* end keanggotaan */

.footer{
	padding:15px; text-align:center; color:#a9a7a8; font-weight:bold; font-size:14px;
}

}

@media screen and (min-width: 769px) and (max-width: 992px){
	.subdropdowns a{
	display:block;
	text-decoration:none;
	font-family: 'din-light-webfont';
	color:#464646;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	}
	
	.boxvideohome{
		padding-right:15px;
	}
	
/* berita & kegiatan */

.titlelistnewsevent{
	font-size:16px; font-weight:bold;
}

.linelistnewsevent{
	display:inline-block; width:80px; border-top:2px solid #ffffff; margin:10px 0px;
}

.datelistnewsevent{
	text-transform:uppercase; font-weight:bold; font-size:13px;
}

/* end  berita & kegiatan */



.boxregall{
	padding:15px 0px; 
	font-size:14px; 
	font-weight:bold; 
	color: #fff; 
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright:8px; 
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px; 
	border-top-left-radius:8px;
	border-top-right-radius:8px; 
}

.bordermikro{
	border:1px solid #d0d0ce; border-top:0px; padding:15px 10px;
}

.borderall{
	border:1px solid #d0d0ce; border-top:0px; border-left:1px solid #d0d0ce; padding:15px 10px;
}

}



/* jcycle */
/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.cycle-slideshow { width: 100%; margin: 0px auto; padding: 0; position: relative;
	background: url(../images/spinner.gif) 50% 50% no-repeat;
 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
	position: absolute; width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
	position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
	text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 5px; overflow: hidden;
}
.cycle-pager span { 
	font-family: arial; font-size: 50px; width: 18px; height: 18px; 
	display: inline-block; color: #555452; cursor: pointer; line-height:20px;
}
.cycle-pager span.cycle-pager-active { color: #ffffff;}
.cycle-pager > * { cursor: pointer;}


#no-template-pager	img.cycle-pager-active{
	box-sizing: border-box ;
    -moz-box-sizing: border-box ;
	outline: solid 3px #C50300; 
	outline-offset: -3px;
}

#no-template-pager	div.cycle-pager-active{
	box-sizing: border-box ;
    -moz-box-sizing: border-box ;
	outline: solid 3px #C50300; 
	outline-offset: -3px;
}

/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
	position: absolute; bottom: 0; width: 100%; z-index: 600;
	background: url("../images/bgmenu.png") repeat; color: white; padding: 15px; 
}

/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0; top:45%; color:#000000; font-size:50px; text-align:left; }
.cycle-next { right: 0; top:45%; color:#000000; font-size:50px; text-align:right;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

#no-template-pager > * { cursor: pointer; }

/* anchors */
.cycle-slideshow > a { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; background-color: #222; display: block;
}

/* images */
.cycle-slideshow > a > img { 
    width: 100%;
    position: static;
    display: block;
}

